/* ===== NAVBAR ===== */
.navbar {
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    padding: 15px 40px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.navbar .logo {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 50px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: #999999;
}

/* ===== PAGE CONTENT ===== */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: url("image/annie-spratt-QckxruozjRg-unsplash.jpg") no-repeat center center/cover;
    color: rgb(255, 255, 255);
}

.container {
    text-align: center;
    margin-top: 150px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    backdrop-filter: blur(5px);
}


.menu-container {
  visibility: hidden;
  opacity: 0;
}
.menu-container.active {
  visibility: visible;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.user-menu {
  position: absolute;
  right: -22px;
  background-color:black;
  height: 100px;
  width: 300px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 20px;
  backdrop-filter: blur(10px);
  border-radius: 16px;
  box-shadow:  0 4px 30px rgba(0, 0, 0, 0.4);
  border: 1px solid black;
  transition: background-color 0.4s ease, box-shadow 0.4s ease;
  will-change: transform;
}

.user-menu .profile-highlight {
  display: flex;
  border-bottom: 1px solid var(--accent-color);
  padding: 12px 16px;
  margin-bottom: 6px;
}

.user-menu .profile-highlight img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}
.user-menu .profile-highlight .details {
  display: flex;
  flex-direction: column;
  margin: auto 12px;
}


.user-menu .footer {
  border-top: 1px solid var(--accent-color);
  padding-top: 6px;
  margin-top: 6px;
  font-size: 13px;
}

.user-menu .user-menu-link {
  display: flex;
  text-decoration: none;
  color: #f4ede8;
  font-weight: 400;
  font-size: 14px;
  padding: 12px 16px;
}

.user-menu .user-menu-link:hover {
  background-color: var(--overlay-blur);
  color: #f4ede8;
  border-radius: 10px;
}

.user-menu-wrap {
  position: relative;
  width: 40px;
  margin-left: auto;
  margin-right: 20px;
}

.mini-photo-wrapper {
  cursor: pointer;
}

.mini-photo {
  height: 40px;
  width: 40px;
  border-radius: 50px;
}
img.avatar-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}


.menu-container {
  visibility: hidden;
  opacity: 0;
}

.menu-container.active {
  visibility: visible;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.details #profile-name {
  font-weight: 600;
  font-size: 16px;
}

.details #profile-email {
  font-size: 13px;
  color:var(--text-color);
}

