/* === Global Reset === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ===== NAVBAR ===== */
.navbar {
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    padding: 15px 40px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.navbar .logo {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 50px;
    margin-left: 30px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: #999999;
}


/* === Body Styling === */
body {
  font-family: "Poppins", sans-serif;
  background-image:url('image/annie-spratt-QckxruozjRg-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: Arial, sans-serif;
  color: white; /* optional for readability */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* === Container === */
.container {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 40px 50px;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  width: 400px;
  text-align: center;
  animation: fadeIn 0.6s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* === Title === */
.container h2 {
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
}

/* === Labels and Inputs === */
form label {
  display: block;
  margin-top: 15px;
  font-weight: 500;
  text-align: left;
}

form input {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  transition: border 0.3s;
}

form input:focus {
  border-color: #aecafc;
  outline: none;
}

/* === Button === */
button {
  background-color: #ffffff18;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  margin-top: 20px;
  width: 100%;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #000000;
  transform: scale(1.03);
}

/* === Result Page === */
.result {
  list-style-type: none;
  margin-top: 20px;
}

.li-result {
  background-color: #000000;
  border-radius: 10px;
  padding: 12px;
  margin-bottom: 10px;
  font-size: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.back-butn{
  display: inline-block;
  margin-top: 15px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}

.back-butn:hover {
  text-decoration: underline;
}

